.container {
    margin: 0% auto;
    max-width: 768px;
    width: 98%;
    height: 100%;
    padding: 2% 2%;
    border-radius: 3px;
    box-shadow: 0 0 5px dimgrey;
}

div {
    margin: 0.3125rem 0.3125rem;
}

.collector {
    border-radius: 5px;
    background: aquamarine;
    padding: 0.4375rem 0.4375rem;

}

.text-right {
    text-align: right;
}

.help {
    margin: 0.3125rem 0.3125rem;
    font-style: italic;
    font-weight: bold;
}

button {
    border: 0;
    outline: 0px;
}

.save-btn{
    border-radius: 3px;
    padding: 0.5rem 0.625rem;
}

.block {
    display: block;
}

.inline-block,
.delete-btn {
    display: inline-block;
}

.delete-btn {
    margin: 0.1875rem 2rem;
    border-radius: 3px;
    padding: 0.5rem 0.5rem;
}

.delete-btn::before {
    content: 'x ';
    color: darkred;
}
